# 자료구조란

-   **여러 개의 값들을 모아서 관리**하는 데이터 타입.
    -   한 개의 변수는 한 개의 값 밖에는 가지지 못한다. 그러나 하나의 변수로 여러 개의 값 관리해야 할 경우가 있다.
    -   하나의 값이 여러개의 값들로 구성된 경우
        -   한명의 고객 정보의 경우 이름, 나이, 주소, 전화번호 등 여러개의 값이 모여서 하나의 값이 된다.
        -   한 반의 학생들의 이름들은 여러개의 이름들로 구성된다.
-   파이썬은 데이터를 모으는 방식에 따라 다음과 같이 4개의 타입을 제공한다.
    -   **List:** 순서가 있으며 중복된 값들을 모으는 것을 허용하고 구성하는 값들(원소)을 변경할 수 있다.
    -   **Tuple:** 순서가 있으며 중복된 값들을 모으는 것을 허용하는데 구성하는 값들을 변경할 수 없다.
    -   **Dictionary:** key-value 형태로 값들을 저장해 관리한다.
    -   **Set:** 중복을 허용하지 않고 값들의 순서가 없다.
-   **원소, 성분, 요소, element**
    -   자료구조의 값들을 구성하는 개별 값들을 말한다.
    -   len(자료구조) 함수
        -   자료구조 내의 원소의 개수를 반환한다.

# List (리스트)

-   값들을 순서대로 모아서 관리하는 자료구조. 원소(element)들을 순번을 이용해 식별한다.
    -   각각의 원소가 어떤 값인지를 index(순번)을 가지고 식별하기 때문에 **순서가 있고 그 순서가 매우 중요하다.** 즉 같은 값에 대해 순서가 바뀌면 안된다.
-   각각의 원소들은 index를 이용해 식별한다.
    -   index는 문자열과 마찮가지로 양수 index와 음수 index 두개가 각 값에 생긴다.
    -   양수 index는 앞에서부터 음수 index는 뒤에서 부터 값을 식별할 때 사용하는 것이 편리하다.
    -   **index를 가지고 각 원소값의 의미를 식별할 수 있으면 List나 Tuple을 사용한다.**
-   중복된 값들을 저장할 수 있다.
-   각 원소들의 데이터 타입은 달라도 상관없다.
    -   보통은 같은 타입의 데이터를 모은다.
-   리스트를 구성하는 **원소들을 변경할 수 있다.** (추가, 삭제, 변경이 가능)
    -   원소 변경 여부가 List와 Tuple의 차이이다.

## List 생성 구문

```python
[값, 값, 값, ..]
```

In [61]:
l = [1, 10, 100, 1000]
l

[1, 10, 100, 1000]

In [62]:
l2 = ["홍길동", 20, "서울", 182.2, True, False, ["독서", "음악감상"]]

In [63]:
len(l), len(l2)

(4, 7)

## Indexing과 Slicing을 이용한 원소(element) 조회 및 변경

### Indexing

-   하나의 원소를 조회하거나 변경할 때 사용
-   리스트\[index\]
    -   index의 원소를 조회
-   리스트\[index\] = 값
    -   index의 원소를 변경

### Slicing

-   범위로 조회하거나 그 범위의 값들을 변경한다.
-   기본구문: **리스트\[ 시작 index : 종료 index : 간격\]**
    -   시작 index ~ (종료 index – 1)
    -   간격을 지정하면 간격만큼 index를 증/감한다. (생략 시 1이 기본 간격)
-   **0번 index 부터 조회 할 경우 시작 index는 생략가능**
    -   리스트 \[ : 5\] => 0 ~ 4 까지 조회
-   **마지막 index까지 (끝까지) 조회 할 경우 종료 index는 생략 가능**
    -   리스트\[2 : \] => 2번 index 에서 끝까지
-   **명시적으로 간격을 줄 경우**
    -   리스트\[ : : 3 \] => 0, 3, 6, 9.. index의 값 조회
    -   리스트\[1 : 9 : 2\] => 1, 3, 5, 7 index의 값 조회
-   **시작 index > 종료 index, 간격을 음수로 하면 역으로 반환한다.(Reverse)**
    -   리스트\[5: 1: -1\] => 5, 4, 3, 2 index의 값 조회
    -   리스트\[: : -1\] => 마지막 index ~ 0번 index 까지 의미. Reverse 한다.

#### slicing을 이용한 값 변경

-   slicing 을 이용할 경우 slicing된 원소 개수와 동일한 개수의 값들을 대입한다.
    -   `리스트[1:5] = 10,20,30,40` : index 1, 2, 3, 4의 값을 각각 10, 20, 30, 40 으로 변경

In [64]:
#indexing
l[0]
l[3]
l[-1]

1000

In [65]:
l[0] = 500
l3 = [10, 20, 30, 40, 50, 60, 70, 80, 90]

In [66]:
#slicing
l3[3:7]

[40, 50, 60, 70]

In [67]:
l3[::-1]

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [68]:
l3[:3] = 1000, 2000, 3000
l3

[1000, 2000, 3000, 40, 50, 60, 70, 80, 90]

## List 연산자

-   **리스트 + 리스트**
    -   두 리스트의 원소들을 합친 리스트를 반환한다.
-   **리스트 \* 정수**
    -   같은 리스트의 원소들을 정수번 합친 리스트를 반환한다.
-   **in, not in 연산자**
    -   값 in 리스트
        -   리스트의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in 리스트
        -   리스트의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(리스트)**
    -   리스트 내의 원소수를 반환.

In [69]:
a = [10, 20, 30]
b = ["가", "나", "다", "라"]

In [70]:
c = a+b
c

[10, 20, 30, '가', '나', '다', '라']

In [71]:
d = a * 3 # a + a + a
d

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [72]:
20 in d
# 1000 ind d

True

## 중첩 리스트 (Nested List)

-   List가 원소로 List를 가지는 것을 말한다.
    -   List를 포함한 모든 자료구조 타입들도 다 값이므로 다른 자료구조의 원소로 들어갈 수 있다.

In [73]:
l5 = [[1, 2, 3], [4, 5, 6]]
len(l5)

2

In [74]:
l5[0][1]

2

## List 주요 메소드

| 메소드                       | 설명                                                                                 |
| :--------------------------- | ------------------------------------------------------------------------------------ |
| append(value)                | value를 추가한다.                                                                    |
| extend(List)                 | List의 원소들을 추가한다.                                                            |
| sort(\[reverse=False\])      | 원소들을 오름차순 정렬한다. reverse=True로 하면 내림차순정렬 한다.                   |
| insert(index, 삽입할값)      | 지정한 index에 '삽입할값'을 삽입한다.                                                |
| remove(삭제할값)             | '삭제할값' 값과 같은 원소를 삭제한다.                                                |
| index(찾을값\[, 시작index\]) | '찾을값'의 index를 반환한다.                                                         |
| pop(\[index\])               | index의 값을 반환하면서 삭제한다. index 생략하면 가장 마지막 값을 반환하며 삭제한다. |
| count(값)                    | '값'이 리스트의 원소로 몇개 있는지 반환한다.                                         |
| clear()                      | 리스트 안의 모든 원소들을 삭제한다.                                                  |

In [75]:
l.append(2000)
l

[500, 10, 100, 1000, 2000]

In [76]:
l.extend([1,2,3,4,5])
l

[500, 10, 100, 1000, 2000, 1, 2, 3, 4, 5]

In [77]:
l.insert(0, "가") # 리스트 l에 index 0에 "가"를 삽입
l

['가', 500, 10, 100, 1000, 2000, 1, 2, 3, 4, 5]

In [78]:
# 삭제
## 값으로 삭제
l.remove(10)
l

['가', 500, 100, 1000, 2000, 1, 2, 3, 4, 5]

In [79]:
## index로 삭제
l.pop() # 마지막 index의 값을 삭제하면서 반환.

5

In [80]:
l.clear()
l

[]

In [81]:
l = [4, -20, 1, 100, -50, 72]
# 정렬: 오름차순, 내림차순
l.sort()
l

[-50, -20, 1, 4, 72, 100]

In [82]:
l.sort(reverse=True)
l

[100, 72, 4, 1, -20, -50]

In [83]:
t1 = (1, 2, 3, 4, 5)

In [84]:
t2 = ("가", 100, 20.2, True)
t2

('가', 100, 20.2, True)

In [85]:
t3 = 100, 200, 300, 400, "나"
print(type(t3))
t3

<class 'tuple'>

(100, 200, 300, 400, '나')

In [86]:
a, b, c = 10, 20, 30 #튜플대입

In [87]:
a, b, c = [10, 20, 30] #리스트대입
print(a, b, c)

10 20 30

In [88]:
t4 = (100,) # 튜플. (100): 정수
type(t4)

t5 = 100,
type(t5), len(t5)

(tuple, 1)

In [89]:
a = [1, 2, 3],
type(a)

tuple

In [91]:
t1[1:4]
t1[:4]
t1[3:]
t1[::2]
a = t1[::-1]
a

(5, 4, 3, 2, 1)

## Indexing과 Slicing을 이용한 원소(element) 조회

-   리스트와 동일하다.
-   단 튜플은 조회만 가능하고 원소를 변경할 수 없다.

## Tuple 연산자

-   **tuple + tuple**
    -   두 tuple의 원소들을 합친 tuple을 반환한다.
-   **tuple \* 정수**
    -   같은 tuple의 원소들을 정수번 합친 tuple를 반환한다.
-   **in, not in 연산자**
    -   값 in tuple
        -   tuple의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in tuple
        -   tuple의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(tuple)**
    -   tuple의 원소 개수 반환

## Tuple의 주요 메소드

| 메소드                        | 설명                                |
| :---------------------------- | ----------------------------------- |
| index(찾을값 \[, 시작index\]) | '찾을값'이 몇번 index인지 반환한다. |
| count(값)                     | 원소로 '값'이 몇개 있는지 반환한다. |

In [92]:
t6 = (1, 2, 3, 1, 2, 3, 1, 1, 1, 3)
t6.index(3) # 값 3의 위치(index)를 조회

2

In [93]:
t6.index(3, 4) # 3의 INDEX를 찾는다. 4 index에서 부터 찾기 시작.

5

In [94]:
t6.count(3) # 값 3이 몇개 있는지 조회
t6.count(1)

5

# Dictionary

-   값을 키(key)-값(value) 쌍으로 묶어서 저장하는 자료구조이다.
    -   리스트나 튜플의 index의 역할을 하는 key를 직접 지정한다.
    -   서로 의미가 다른 값들을 하나로 묶을 때 그 값의 의미를 key로 가질 수 있는 dictionary를 사용한다.
        -   cf) 값의 의미가 같을 경우 List나 Tuple을 사용한다.
    -   key-value 쌍으로 묶은 데이터 한개를 **item 또는 entry**라고 한다.
    -   key는 중복을 허용하지 않고 value는 중복을 허용한다.

## Dictionary 생성

-   구문
    1. `{ 키 : 값, 키 : 값, 키 : 값 }`
    2. dict(key=value, key=value) 함수 이용
    -   키(key)는 불변(Immutable)의 값들만 사용 가능하다. (숫자, 문자열, 튜플) 일반적으로 문자열을 사용한다.
    -   dict() 함수를 사용할 경우 key는 변수로 정의한다

In [98]:
d1 = {"이름":"홍길동", "나이":20, "주소":"서울"}
d1

{'이름': '홍길동', '나이': 20, '주소': '서울'}

In [96]:
d2 = dict(이름="이순신", 키=190, 나이=20)
d2

{'이름': '이순신', '키': 190, '나이': 20}

In [123]:
d3 = {
    "이름":"홍길동",
    "나이":20,
    "주소":"서울",
    "취미":["게임","독서"]
}
d3

{'이름': '홍길동', '나이': 20, '주소': '서울', '취미': ['게임', '독서']}

In [ ]:
l = ["이순신", 20, "서울", ["게임", "독서"]]

## Dictionary 원소 조회 및 변경

-   조회: index에 key값을 식별자로 지정한다.
    -   dictionary\[ key \]
    -   없는 키로 조회 시 KeyError 발생
-   변경
    -   dictionary\[ key \] = 값
    -   있는 key값에 값을 대입하면 변경이고 없는 key 일 경우는 새로운 item을 추가하는 것이다.

In [103]:
d3['이름'], d3['나이']

('홍길동', 20)

In [104]:
# 변경 - 있는 KEY에 값을 대입
d3["나이"] = 50
d3

{'이름': '홍길동', '나이': 50, '주소': '서울', '취미': ['게임', '독서']}

In [105]:
# 추가 - 없는 KEY에 값을 대입
d3['키'] = 182.3
d3

{'이름': '홍길동', '나이': 50, '주소': '서울', '취미': ['게임', '독서'], '키': 182.3}

## Dictionary 연산자

-   **in, not in 연산자**
    -   값 in dictionary
        -   dictionary의 **Key**로 값이 **있으면** True, 없으면 False 반환
    -   값 not in dictionary
        -   dictionary의 **Key**로 값이 **없으면** True, 있으면 False 반환
-   **len(dictionary)**
    -   dictionary의 **Item의 개수** 반환

In [107]:
"이름" in d3 # d3에 "이름" 이라는 key가 있는지 여부
d3

{'이름': '홍길동', '나이': 50, '주소': '서울', '취미': ['게임', '독서'], '키': 182.3}

## Dictionary 주요 메소드

| 메소드               | 설명                                                                               |
| :------------------- | ---------------------------------------------------------------------------------- |
| get(key\[, 기본값\]) | key의 item의 값을 반환한다. 단 key가 없을 경우 None또는 기본값을 반환한다.         |
| pop(key)             | key의 item의 값을 반환하면서 dictionary에서 삭제한다. 없는 key일 경우 KeyError발생 |
| clear()              | dictionary의 모든 item들을 삭제한다.                                               |
| del dict\[key\]      | key의 item을 제거한다.                                                             |
| items()              | item의 key, value를 튜플로 묶어 모아 반환한다.                                     |
| keys()               | key값들만 모아 반환한다.                                                           |
| values()             | value값들만 모아 반환한다.                                                         |

In [133]:
d3["몸무게"] # 없는 키로 조회하면 에러

KeyError: '몸무게'

In [109]:
d3.get("이름") # key로 value를 조회

'홍길동'

In [111]:
d3.get("몸무게") # 없는 key로 조회하면 기본값(None)을 반환.
d3.get("몸무게", "없는 key")
d3

'없는 key'

In [112]:
w = d3.get("몸무게", -1)
# w == -1

{'이름': '홍길동', '나이': 50, '주소': '서울', '취미': ['게임', '독서'], '키': 182.3}

In [113]:
# 삭제
d3.pop("키")

182.3

In [116]:
# 키값들 조회
d3.keys()

dict_keys(['이름', '나이', '주소', '취미'])

In [124]:
d3
d3.values(['홍길동'], 50, '서울', ['게임', '독서'])

TypeError: dict.values() takes no arguments (4 given)

In [157]:
s2 = {1,2,3,4,5}
for v in s2:
    print(v)

1
2
3
4
5

In [ ]:
l = list(s2)
# list(변환)

## Set 연산자

-   **in, not in 연산자**
    -   값 in Set
        -   Set의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in Set
        -   Set의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(Set)**
    -   Set의 **원소의 개수** 반환
-   **[집합연산자](#Set의-집합연산-연산자-및-메소드)**

## Set의 주요 메소드

| 메소드           | 설명                                   |
| ---------------- | -------------------------------------- |
| add(값)          | 집합에 값 추가                         |
| update(자료구조) | 자료구조내의 원소들을 모두 집합에 추가 |
| pop()            | 원소를 반환하고 Set에서 삭제한다.      |
| remove(값)       | 값을 찾아서 Set에서 삭제한다.          |

{1, 2, 3, 4, 5}

## Set의 집합연산 연산자 및 메소드

-   합집합
    -   집합A | 집합B
    -   집합A.union(집합B)
-   교집합
    -   집합A & 집합B
    -   집합A.intersection(집합B)
-   차집합
    -   집합A - 집합B
    -   집합A.difference(집합B)

# 자료구조를 이용한 대입

-   리스트, 튜플, 셋의 원소들을 개별 변수에 대입한다. 어느 자료구조에 적용하느냐에 따라 **리스트 대입, 튜플 대입, 셋 대입** 이라고 한다. 이중 리스트대입이나 튜플대입은 많이 사용된다.
-   변수의 개수와 리스트 원소의 개수는 동일해야 한다.

# 자료구조 변환 함수

-   **list(자료구조)**
    -   대상 자료구조/Iterable을 List로 변환한다.
-   **tuple(자료구조)**
    -   대상 자료구조/Iterable을 Tuple로 변환
-   **set(자료구조)**
    -   대상 자료구조/Iterable을 Set으로 변환
    -   다른 자료구조의 원소 중 중복을 빼고 조회할 때 set()를 이용해 Set으로 변환한다.
-   Dictionary로 변환하는 함수는 없다.
    -   dict(key=value, ..) 는 딕셔너리 생성하는 함수이다.
-   변경 대상이 Dictionary 일 경우에는 key값들만 모아서 변환한다.

> -   **Iterable**
>     -   반복가능한 객체.
>     -   여러개의 값을 요청을 받을 때마다 하나씩 제공해주는 타입을 iterable 이라고 함.
>         -   Iterable이 제공하는 값을 반복문을 이용해 조회할 경우 **for in문**을 사용한다.
>     -   대표적으로 자료구조, 문자열 등이 있다.

In [169]:
a , b, c =10, 20, 30
type((a))

int

# TODO

In [90]:
# 문제 1 ~ 7
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
# 위 리스트는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다.

# (1)  7번의 점수를 출력하세요
print(jumsu[6])

# (2)  1번부터 5번까지의 점수를 출력하세요.
print(jumsu[0:5])

# (3)  4, 5, 6, 7번의 점수를 출력하세요.
print(jumsu[3:7])

# (4) 짝수번째 점수를 출력하세요.
print(jumsu[1::2])

# (5) 홀수번째 점수를 출력하세요.
print(jumsu[::2])

80
[100, 90, 100, 80, 70]
[80, 70, 100, 80]
[90, 80, 100, 90, 85]
[100, 100, 70, 80, 95]
[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [ ]:

# (6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8]=20
print(jumsu)

In [121]:
# (7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
omg = set(jumsu)
omg

{20, 70, 80, 85, 90, 100}

In [ ]:
# 문제 8 ~ 9
fruits = ["복숭아", "수박", "딸기"]

In [127]:
# (8) fruits 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.
fruits.extend(["사과", "귤"])
fruits

['복숭아', '수박', '딸기', '사과', '귤']

In [128]:
# (9) fruits 리스트에서 "복숭아"를 제거하세요.
fruits.remove("복숭아")
fruits

['수박', '딸기', '사과', '귤']

In [147]:
# 문제 10 ~ 15
# (10)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성.
# 취미는 2개 이상의 값을 넣는다..
d4 = {
    "이름": "신지용",
    "나이": "30",
    "email주소": "jiyong1110@naver.com",
    "취미": ["독서","영화보기"],
    "결혼유무": "미혼"
}

d5 = dict(name="이순신", 나이=30, email주소="a@a.com", 취미=["독서","게임"], 결혼유무=True)
del d5["name"]
d5

{'나이': 30, 'email주소': 'a@a.com', '취미': ['독서', '게임'], '결혼유무': True}

In [137]:
# (11) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
print("이름:", d4.get("이름"))
print("email주소:", d4.get("email주소"))

이름: 신지용
email주소: jiyong1110@naver.com

In [141]:
# (12) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
print(d4.get("취미")[1])

영화보기

In [143]:
# (13) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.
d4["몸무게"] = 70
d4["키"] = 190
d4

{'이름': '신지용',
 '나이': '30',
 'email주소': 'jiyong1110@naver.com',
 '취미': ['독서', '영화보기'],
 '결혼유무': '미혼',
 '몸무게': 70,
 '키': 190}

In [ ]:
# (14) 위 딕셔너리에서 email 주소를 다른 값으로 변경하세요.
d4["email주소"] = "jiyong1110@gmail.com"

In [144]:
# (15) 위 딕셔너리에서 나이를 제거하세요.
d4.pop("나이")
d4

{'이름': '신지용',
 'email주소': 'jiyong1110@naver.com',
 '취미': ['독서', '영화보기'],
 '결혼유무': '미혼',
 '몸무게': 70,
 '키': 190}